/ /! Main content
/ section.content
/   /! Your Page Content Here
/   div style=("padding: 10px 0px; text-align: center;") 
/     .text-muted Excuse the ads! We need some help to keep our site up.
/     / script async="" src=("./AdminLTE 2 _ Starter_files/adsbygoogle.js") 
/     .visible-xs.visible-sm
/       /! AdminLTE
/       ins.adsbygoogle data-ad-client="ca-pub-4495360934352473" data-ad-slot="5866534244" data-adsbygoogle-status="done" style=("display: inline-block; width: 300px; height: 250px;") 
/         ins#aswift_0_expand style="display:inline-table;border:none;height:250px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent" 
/           ins#aswift_0_anchor style="display:block;border:none;height:250px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent" 
/             iframe#aswift_0 allowfullscreen="true" allowtransparency="true" frameborder="0" height="250" hspace="0" marginheight="0" marginwidth="0" name="aswift_0" onload=("var i=this.id),s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" scrolling="no" src=("./AdminLTE 2 _ Starter_files/saved_resource.html") style="left:0;position:absolute;top:0;" vspace="0" width="300" 
/       / javascript:
/       /   | (adsbygoogle = window.adsbygoogle || []).push({});
/     .hidden-xs.hidden-sm
/       /! Home large leaderboard
/       ins.adsbygoogle data-ad-client="ca-pub-4495360934352473" data-ad-slot="1170479443" data-adsbygoogle-status="done" style="display:inline-block;width:728px;height:90px" 
/         ins#aswift_1_expand style="display:inline-table;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:728px;background-color:transparent" 
/           ins#aswift_1_anchor style="display:block;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:728px;background-color:transparent" 
/             iframe#aswift_1 allowfullscreen="true" allowtransparency="true" frameborder="0" height="90" hspace="0" marginheight="0" marginwidth="0" name="aswift_1" onload=("var i=this.id),s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" scrolling="no" src=("./AdminLTE 2 _ Starter_files/saved_resource(1).html") style="left:0;position:absolute;top:0;" vspace="0" width="728"
/       / javascript:
/       /   | (adsbygoogle = window.adsbygoogle || []).push({});
